---
import Layout from "../layouts/Layout.astro";

---

<Layout title="404">
    <div class="flex justify-center">
        <div class="card/rom">
            <div class="card-body">
                <h1 class="card-title text-5xl">404!</h1>
        
                <p>NOT FOUND!!!!!</p>
                <p class="text-sm">Tried finding the right URL?</p>
                <a class="link link-hover link-primary" href="/">Go back</a>
            </div>
        </div>
    </div>
</Layout>
