---
import Layout from "../layouts/Layout.astro";

---

<Layout title="about">
    <div class="prose">
        <p>
            nowrom is a opensource project useful for finding compatible roms for your android device you can view the source code <a href="/web-source">Github Repostory</a>
        </p>
        <p>
            For a the repo that contains all roms etc visit <a href="data-source">Data Repository</a>
        </p>
    </div>
</Layout>
